<!DOCTYPE html>
<html>
<head>
	<title>Some website</title>
	<meta charset="utf-8">

</head>
<body>
	<h1>Maintenance Mode</h1>
	<p>
		This site is currently been updated.
	</p>
	{{>footer}}
</body>
</html>